<div class="homepage">
  <h3>Hi, here you can find completed task</h3>
  <ul>
    <li>You can choose catalog and see available products from menu.json</li>
    <li>2 of them do not have details available, so this handles and error routes to console</li>
    <li>by clicking on 3d product - you can open dialog with required logic</li>
    <li>it is also possible to open product details directly from
      <a href="https://coffeshop-9aace.firebaseapp.com/products/14559" target="_blank">link</a></li>
    <li>you can find sources and work progress <a href="https://github.com/pandamorphism/coffeshop">here</a></li>
    <li>almost 3 liters of coffee were drunk while working on this :)</li>
  </ul>
</div>
