.header {
  background: whitesmoke;
  text-transform: uppercase;
}

.header .secondaryAction {
  text-transform: none;
  cursor: pointer;
}

.header.hint {
  text-transform: none;
  font-size: smaller;
  padding: 7px 0 7px 15px;
  background: #e4e4e4;
}

.selection {
  cursor: pointer;
}

.selection:hover {
  background: aliceblue;
}

span.hint {
  opacity: .5;
  margin-left: 2px;
}

.attention {
  background: red !important;
}
