<mat-card class="mat-elevation-z0">
  <img mat-card-image src="{{product?.images?.full_size}}" alt="product_image">
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <div class="productName">
          <h3>{{product?.name}}</h3>
          <div class="description">{{product?.description}}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>{{product?.price}}</mat-list-item>
      <mat-list-item>{{product?.price}}</mat-list-item>
      <mat-list-item>{{product?.price}}</mat-list-item>
      <mat-list-item>{{product?.price}}</mat-list-item>
      <mat-list-item>{{product?.price}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
