<mat-card class="mat-elevation-z0 productBuilder">
  <img mat-card-image src="{{product?.images?.full_size}}" alt="product_image">
  <mat-card-content>
    <mat-list dense>
      <mat-list-item fxLayout="column" fxLayoutAlign="center center">
        <div class="productName">
          <h3>{{product?.name}}</h3>
          <div class="description">{{product?.description}}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item class="price">
        <div>$ {{product?.price}}</div>
        <div class="right">
          <app-counter [val]="size" (valueChanged)="produceSizeChanged($event)"></app-counter>
        </div>
      </mat-list-item>
      <app-extras-picker [extras]="product?.extras"
                         [validationFailed]="validationFailed"
                         (addOption)="onAddOption($event)"
                         (removeOption)="onRemoveOption($event)"
                         (removeExtra)="onRemoveExtra($event)"
                         (replaceOption)="replaceOrAdd($event) ">

      </app-extras-picker>
    </mat-list>
  </mat-card-content>
  <mat-card-actions align="center">
    <button (click)="processProduct()" [disabled]="size===0" mat-flat-button color="warn" class="buyBtn">
      <span class="icon">
        <mat-icon>shopping_cart</mat-icon>
      </span>
      <span class="info">add {{size}} to cart</span>
      <span class="totalPrice">{{totalPrice | currency: 'USD'}}</span>
    </button>
  </mat-card-actions>
</mat-card>
